@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Nanum+Gothic&display=swap');

body {
    background-color: rgb(54, 54, 54);
    color: white;
    overflow: hidden;
    font-family: JetBrains Mono;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
}

.github-link {
    width: 1rem;
    margin-left: 5px;
}

.calculator-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#buttons-grid {
    display: grid;
    grid-template-areas: 
    'display display display display'
    'exponent squareroot pi equals'
    'ln log10 backspace clear'
    'seven eight nine add'
    'four five six subtract'
    'one two three multiply'
    'zero decimal plus-minus divide';
    gap: 0.15rem;
    padding: 16px;
    background: linear-gradient(90deg, #b0b0b0, #cfcfcf);
    border-radius: 2px;
}

.display {
    display: flex;
    flex-direction: column;
    grid-area: display;
    text-align: right;
    background: linear-gradient(-90deg, #94c586, #88aa7e);
    color: black;
    padding: 15px;
    border: 1px solid grey;
    gap: 0.6rem;
    border-radius: 2px;
}

.button {
    border: 0px;
    font-size: larger;
    width: 5rem;
    height: 4rem;
    border-radius: 2px;
}

.button:active {
    transform: translateY(1px);
}

.button.number {
    color: darkblue;
    background-color: white;
}

.button.operator {
    color: white;
    background: radial-gradient(darkblue 10%, #000093 60%);
    font-size: 2rem;
}

.button.special {
    color: white;
    background: radial-gradient(#018e01 10%, #009500 60%);
}

.button.special, .button.operator {
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 25px;
    fill: white;
}

#previous-value-screen {
    font-size: medium;
}

#screen {
    font-size: larger;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {
    grid-area: divide;
}

#exponent {
    grid-area: exponent;
}

#squareroot {
    grid-area: squareroot;
}

#pi {
    grid-area: pi;
}

#clear {
    grid-area: clear;
}

#ln {
    grid-area: ln;
}

#log10 {
    grid-area: log10;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

#zero {
    grid-area: zero;
}

#decimal {
    grid-area: decimal;
}

#plus-minus {
    grid-area: plus-minus;
}

#equals {
    grid-area: equals;
}

#backspace {
    grid-area: backspace;
}